
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow create: if request.auth != null;
      allow read, update: if isOwner(userId);
      allow delete: if isOwner(userId);

      // Rules for the 'game_progress' subcollection
      // This allows the owner to query (list, get) and modify (create, update, delete)
      // documents within their own 'game_progress' subcollection.
      match /game_progress/{gameProgressId} {
         allow read: if isOwner(userId);
         allow write: if isOwner(userId);
      }

      // Rules for the 'user_achievements' subcollection
      // This allows the owner to query and modify documents
      // within their own 'user_achievements' subcollection.
      match /user_achievements/{achievementId} {
         allow read: if isOwner(userId);
         allow write: if isOwner(userId);
      }
    }
      
    match /rewards/{rewardId} {
      allow read: if request.auth != null;
    }
  }
}
