
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, delete: if isOwner(userId);
      // Allow create if the user is the owner and provides the required fields.
      allow create: if request.auth.uid == userId && 
                      request.resource.data.keys().hasAll(['id', 'username', 'avatar']);
      // Allow update if the user is the owner. The fields that can be updated
      // are not restricted here, but are controlled by the app's logic.
      allow update: if isOwner(userId);
                      
      match /game_progress/{gameProgressId} {
        allow read, write: if isOwner(userId);
      }
      
      match /user_rewards/{userRewardId} {
        allow read, write: if isOwner(userId);
      }
    }

    match /rewards/{rewardId} {
      allow read: if request.auth != null;
    }
  }
}
