@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 205 28% 85%;
    --foreground: 215 28% 17%;
    --card: 205 28% 89%;
    --card-foreground: 215 28% 17%;
    --popover: 205 28% 89%;
    --popover-foreground: 215 28% 17%;
    --primary: 207 44% 49%;
    --primary-foreground: 210 40% 98%;
    --secondary: 205 28% 83%;
    --secondary-foreground: 215 25% 34%;
    --muted: 205 28% 83%;
    --muted-foreground: 215 25% 45%;
    --accent: 120 61% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 205 20% 68%;
    --input: 205 20% 73%;
    --ring: 207 44% 49%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 216 34% 11%;
    --foreground: 210 40% 98%;
    --card: 216 34% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 216 34% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 207 44% 49%;
    --secondary: 216 34% 22%;
    --secondary-foreground: 210 40% 98%;
    --muted: 216 34% 22%;
    --muted-foreground: 210 40% 60%;
    --accent: 120 61% 50%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 34% 22%;
    --input: 216 34% 22%;
    --ring: 207 44% 49%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    @keyframes orbit {
        0% {
            transform: rotate(var(--orbit-offset)) translateY(var(--orbit-radius)) rotate(calc(-1 * var(--orbit-offset)));
        }
        100% {
            transform: rotate(calc(360deg + var(--orbit-offset))) translateY(var(--orbit-radius)) rotate(calc(-360deg - var(--orbit-offset)));
        }
    }

    .animate-orbit {
        animation: orbit var(--orbit-duration) linear infinite;
    }
}
